body {
    text-align: center;
  }
  
  button {
    background-color: #12d9a5;
    height: 36px;
    font-weight: bold;
  }
  
  body {
    font-family: cursive;
    font-size: 18px;
    background-color: #d11132;
  }
  
